{% extends 'base.html' %}

{% block content %}
{% load cache %}
<br/>
<div>
    <div class="card">
  <div class="card-body">
      <h1>
          Welcome {{ user.username.capitalize }}
      </h1>
      <h2>
          My Portfolio:
      </h2>
      <br/>


      <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Price (for 1 item)</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% if portfolio %}
  {% cache 60 coin_table %}
    {% for coin in portfolio %}
    <tr>
        <td>{{ coin.name }}</td>
        <td>{{ coin.amount }}</td>
        <td>${{ coin.price|floatformat:2 }} </td>
        <td>{{ coin.created_at|date }}</td>
        <td>
            <a href="{% url 'sell_coin' pk=coin.id %}">
             <button type="submit" class="btn btn-outline-danger">Sell</button>
            </a>
        </td>

    </tr>
    {% endfor %}
  {% endcache %}

  {% else %}
  <td colspan="4">
      <h3>
          <center>
            Your Portfolio is Empty
          </center>
      </h3>
  </td>
  {% endif %}

  </tbody>
</table>


  </div>
</div>
</div>

{% endblock %}
